rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function userRole(projectId) {
      return request.auth.token.roles[projectId];
    }

    function hasRole(projectId, min) {
      return (
        (min == 'VIEWER' && (userRole(projectId) in ['VIEWER', 'EDITOR', 'ADMIN', 'OWNER'])) ||
        (min == 'EDITOR' && (userRole(projectId) in ['EDITOR', 'ADMIN', 'OWNER'])) ||
        (min == 'ADMIN' && (userRole(projectId) in ['ADMIN', 'OWNER'])) ||
        (min == 'OWNER' && (userRole(projectId) == 'OWNER'))
      );
    }

    match /projects/{projectId}/{allPaths=**} {
      allow read: if hasRole(projectId, 'VIEWER');
      allow write: if hasRole(projectId, 'EDITOR');
      allow delete: if hasRole(projectId, 'EDITOR');
    }
  }
}

